<header>
    <a href="http://esuc.ucla.edu/" id="esuc-logo"><img src="img/yellow-logo.png" alt="ESUC Logo"></a>
    <a href="http://esuc.ucla.edu/" id="esuc-logo"><img src="img/blue-logo.png" alt="ESUC Logo"></a>
    <nav>
        <ul id="nav-bar">
            <li class="header-link"><a href="#about" class="hide-link">About</a></li>
            <li class="header-link"><a href="#calendars" class="hide-link">Calendars</a></li>
            <li class="header-link"><a href="https://esuc.github.io/ewd-2022/" class="hide-link">EWD</a></li>
            <li class="header-link"><a href="#officers" class="hide-link">Officers</a></li>
            <li class="header-link"><a href="#sponsors" class="hide-link">Sponsors</a></li>
        </ul>
    </nav>
</header>